.greetings-container {
  padding-top: 70px;
}

.text {
  color: #4f4f4fe5;
  font-weight: 500;
  margin-bottom: 0px;
}

.text-subtitle {
  color: #4f4f4fe5;
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f8e;
}
