.notfound-wrapper__content {
  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.notfound-wrapper__content-mobile {
  display: none;
  @media screen and (max-width: 1100px) {
    display: unset;
  }
}
