.calendar-container {
  padding-top: 60px;
}

.reminder-title {
  font-weight: 500;
  color: #4f4f4fe5;
}

.content-date {
  font-size: 13px;
  color: #4f4f4faf;
  font-weight: 500;
}

.content-msg {
  font-weight: 500;
  color: #4f4f4fe5;
  font-size: 15px;
}
