.v-app-bar {
  border-bottom: 1px solid #e2e2e2 !important;
}

.title-content {
  font-weight: 500;
  color: #4f4f4fe5;
}

.list-title {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  user-select: none;
  color: #4f4f4fe5;
}

.list-title__sub {
  font-size: 12px;
  line-height: normal;
  color: #4f4f4fe5;
}

.list-title__active {
  font-size: 14px;
  line-height: normal;
  user-select: none;
  font-weight: 500;
  color: #ff8417;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}

.bottom-title {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: #4f4f4fe5;
}
